# FOLDERS ###############################
/.github
/.husky
/examples
/node_modules
/offline
/src
/tests
/package

# FILES #################################
*.tgz
package-lock.json
yarn-lock.json
pnpm-lock.yaml

.commitlintrc
.czrc
.editorconfig
.env
.env.example
.eslintignore
.eslintrc
.gitignore
.npmignore
.prettierignore
.prettierrc
.releaserc
LICENSE
CHANGELOG.md
tsconfig.json
